 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1200px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 2000px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 /* Set floating body text margins to 0 */
 [class*="dom-paragraph"] p {
   margin: 0 0 10px 0;
 }
 #absolute-wrapper {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .navbar {
   width: 1199px;
   height: 60px;
   position: absolute;
   top: 0px;
   left: 0px;
 }
 #absolute-wrapper .navbar .navbar-inner {
   background: rgba(255, 255, 255, 0.960784);
   border: none;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .navbar .brand {
   font-family:"spinnaker";
   font-weight: bold;
   font-size: 24px;
   color: #5b95eb;
   line-height: 40px;
   margin: 0px;
 }
 #absolute-wrapper .navbar .brand .icon.icon-heart {
   color: #eb5151;
   font-size: 34px;
   height: 34px;
   width: 45px;
 }
 #absolute-wrapper .navbar .nav li a {
   line-height: 40px;
   color: #4e87b0;
 }
 #absolute-wrapper .navbar .nav li a .icon.icon-facebook-sign {
   color: #2353a8;
 }
 #absolute-wrapper .navbar .nav li a .icon.icon-linkedin {
   color: #16939b;
 }
 #absolute-wrapper .rectangle {
   border-radius: 0px;
   border: none;
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-1 {
   left: 40px;
 }
 #absolute-wrapper .rectangle.rectangle-2 {
   background: #669cc0;
   -moz-box-shadow: 0px 0px 10px 0px rgba(22, 192, 164, 0.701961);
   -webkit-box-shadow: 0px 0px 10px 0px rgba(22, 192, 164, 0.701961);
   -o-box-shadow: 0px 0px 10px 0px rgba(22, 192, 164, 0.701961);
   box-shadow: 0px 0px 10px 0px rgba(22, 192, 164, 0.701961);
   width: 260px;
   height: 281px;
   top: 479px;
 }
 #absolute-wrapper .rectangle.rectangle-3 {
   background: #f3f3f3;
   -moz-box-shadow: 0px 0px 10px 0px rgba(39, 90, 215, 0.701961);
   -webkit-box-shadow: 0px 0px 10px 0px rgba(39, 90, 215, 0.701961);
   -o-box-shadow: 0px 0px 10px 0px rgba(39, 90, 215, 0.701961);
   box-shadow: 0px 0px 10px 0px rgba(39, 90, 215, 0.701961);
   width: 1120px;
   height: 219px;
   top: 161px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-3 .dom-heading {
   font-family:"Arial";
   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.701961);
   font-size: 48px;
   color: #33a7be;
   width: 1000px;
   height: 85px;
   position: absolute;
   top: 82px;
   left: 39px;
 }
 #absolute-wrapper .dom-heading {
   font-family:"Arial";
   color: #33a7be;
   position: absolute;
 }
 #absolute-wrapper .dom-heading.dom-heading-1 {
   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.701961);
   left: 39px;
 }
 #absolute-wrapper .dom-heading.dom-heading-2 {
   width: 300px;
   height: 42px;
   top: 432px;
 }
 #absolute-wrapper .dom-heading.dom-heading-3 {
   left: 361px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-4 {
   left: 360px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-4 .dom-paragraph {
   overflow: hidden;
   width: 225px;
   height: 215px;
   position: absolute;
   top: 22px;
   left: 20px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-4 .dom-paragraph p {
   font-family:"Arial";
   line-height: 21px;
   color: #ffffff;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2 .dom-paragraph {
   overflow: hidden;
   width: 225px;
   height: 215px;
   position: absolute;
   top: 22px;
   left: 20px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2 .dom-paragraph p {
   font-family:"Arial";
   line-height: 21px;
   color: #ffffff;
 }
